# Definição Classe funcionário

In [1]:
#Classe funcionário

class Funcionario(object):

    def __init__(self,nome,salario,dept):
        self.nome = nome
        self.salario = float(salario)
        self.dept = dept
    
    #método get_nome
    def get_nome(self):
        return self.nome
    
    #método set_salário
    def set_salario(self,horas):
        horas = int(horas)
        if horas > 50: self.salario *= horas/50

    #método set_departamento
    def set_departamento(self, dept):
        self.dept = dept
    
    #método __str__
    def __str__(self):
        return self.nome +' '+ format(self.salario,".1f") +' '+ self.dept

# Funções
1. Ajuste de Salário
2. Maior Salário
3. Departamento Novo
4. Média Salarial
5. Lê funcionário

In [9]:
#Função 1. Recebe o nome e horas trabalhadas, retornando os dados do funcionário com o salário ajustado.
def ajuste_sal(lista,nome,horas):
    for f in lista:
        if f.nome == nome: 
            f.set_salario(horas)
            return print(f)
    return print('funcionario não encontrado')

#Função 2. 
def maior_sal(lista):
    maximo = 0
    for x in lista:
        if x.salario > maximo:
            f_maior = x
            maximo = x.salario
    return print(f_maior)

#Função 3. Recebe o nome e novo departamento do funcionário, retornando os dados atualizados.
def novo_dept(lista,nome, novo):
    for f in lista:
        if f.nome == nome: 
            f.set_departamento(novo)
            return print(f)
    return print('funcionario não encontrado')

#Função 4. Retorna a média salarial da lista de funcionários
def media_sal(lista):
    media = 0
    for f in lista:
        media += f.salario/len(lista)
    return print('{0:.2f}'.format(media))

# Função Lê funcionário
def le_funcionario(linha):
    nome, sal, dept = linha.split(' ')
    return Funcionario(nome, sal, dept)

In [13]:
linha = input()
print(linha)

if '  ' in linha:
    linha = linha.replace('  ','*')
    print(linha)
# x = le_funcionario(linha)
# print(x)

mark  2500 ti
mark*2500 ti

# Casos Teste 1

In [28]:
linha_1 = 8
linha_2 = "Ana 14500 TI Joao 10000 Venda Marcelo 8500 RH Silvia 12500 PRODUCAO Roberta 7500 Venda Pedro 6000 RH Maria 18500 Diretoria Carlos 16500 Diretornia"
linha_3 = 1
linha_4 = "Ana 65"


#Entrada de dados
tam = int(linha_1)

if "  " in linha_2: linha_2.replace("  "," ")
linha_2 = linha_2.split(' ')
equipe = []
for i in range(tam):
    nome, sal, dept = linha_2[3*i+0],linha_2[3*i+1],linha_2[3*i+2]
    equipe.append(Funcionario(nome, sal, dept))

#Algoritmo
nome, horas = linha_4.split(' ')
ajuste_sal(equipe,nome,horas)

Ana 18850.0 TI

# Caso Teste 2

In [35]:
linha_1 = 8
linha_2 = "Ana 14500 TI Joao 10000 Venda Marcelo 8500 RH Silvia 12500 PRODUCAO Roberta 7500 Venda Pedro 6000 RH Maria 18500 Diretoria Carlos 16500 Diretornia"
linha_3 = 2

#Entrada de dados
tam = int(linha_1)

if "  " in linha_2: linha_2.replace("  "," ")
linha_2 = linha_2.split(' ')
equipe = []
for i in range(tam):
    nome, sal, dept = linha_2[3*i+0],linha_2[3*i+1],linha_2[3*i+2]
    equipe.append(Funcionario(nome, sal, dept))

#Algoritmo
maior_sal(equipe)

Maria 18500.0 Diretoria

# Caso Teste 3

In [29]:
linha_1 = 8
linha_2 = "Ana 14500 TI Joao 10000 Venda Marcelo 8500 RH Silvia 12500 PRODUCAO Roberta 7500 Venda Pedro 6000 RH Maria 18500 Diretoria Carlos 16500 Diretornia"
linha_3 = 3
linha_4 = 'Joao RH'

#Entrada de dados
tam = int(linha_1)

if "  " in linha_2: linha_2.replace("  "," ")
linha_2 = linha_2.split(' ')
equipe = []
for i in range(tam):
    nome, sal, dept = linha_2[3*i+0],linha_2[3*i+1],linha_2[3*i+2]
    equipe.append(Funcionario(nome, sal, dept))

#Algoritmo
nome, novo = linha_4.split(' ')
novo_dept(equipe,nome,novo)

Joao 10000.0 RH

# Caso Teste 4

In [59]:
#caso teste 3
linha_1 = 8
linha_2 = "Ana 14500 TI Joao 10000 Venda Marcelo 8500 RH Silvia 12500 PRODUCAO Roberta 7500 Venda Pedro 6000 RH Maria 18500 Diretoria Carlos 16500 Diretornia"
linha_3 = 4

#Entrada de dados
tam = int(linha_1)

if "  " in linha_2: linha_2.replace("  "," ")
linha_2 = linha_2.split(' ')
equipe = []
for i in range(tam):
    nome, sal, dept = linha_2[3*i+0],linha_2[3*i+1],linha_2[3*i+2]
    equipe.append(Funcionario(nome, sal, dept))

#Algoritmo
media_sal(equipe)

11750.00

In [1]:
num = '1 '
num = int(num)
print(num)

1